%h1 Heroes

%table
  %thead
    %tr
      %th ID
      %th Name
      %th Used
  %tbody
    -heroes.each do |hero|
      %tr
        %td=hero.hero_id
        %td=hero.name
        %td=hero.player_ids.count
