@import  foundation_and_overrides
@import rickshaw.css

.chart
  font: 10px sans-serif
  background-color: black
  rect
    stroke: black
    fill: rgb(170, 170, 170)
  text
    fill: black
  .rule
    fill: white
  text.usage
    fill: white

body
  background-color: black
